/* h1 {
	color: red;
}

.question {
	background-color: blue;
}

#question-4 {
	background-color: gray;
} */

.az_survey_activity {
	margin-bottom: 1.5em;
}

.az_survey_activity .activity-content {
	display: flex;
}

.az_survey_activity .activity-content img {
	width: 300px !important;
	height: 200px !important;
	margin-right: 0.5em !important;
}

.az_survey_activity .title-wrap {
	display: flex;
}

.az_survey_activity .title-wrap h2 {
	width: 50%;
}

.az_survey_activity .activity-read-more {
	position: relative;
	width: 50%;
	text-align: right;
}

.az_survey_activity .activity-read-more a {
	position: absolute;
	bottom: 0;
	right: 0;
}
